* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    background: linear-gradient(
        135deg,
        #f4efe9 0%,
        #efe4d6 50%,
        #e6d8c7 100%
    );

    color: #3b2a1f;
    min-height: 100vh;
}


.box {
    width: 100%;
    max-width: 850px;
    margin: .5em auto; 
    padding: 45px;

    border-radius: 24px;

    background: linear-gradient(
        145deg,
        #fffaf3,
        #f1e6d6
    );

    border: 2px solid rgba(139, 94, 60, 0.15);

    box-shadow:
        0 10px 30px rgba(0, 0, 0, 0.12),
        inset 0 0 20px rgba(255, 255, 255, 0.4);

    animation: fadeIn 0.9s ease;
}


.title {
    font-family: 'Playfair Display', serif;
    font-size: 2.4rem;
    font-weight: 500;
    color: #4b3f35;
    text-align: center;

    max-width: 420px;
    margin: 0 auto 1.5rem auto;
    letter-spacing: 0.5px;
}


.form-group {
    position: relative;
    margin-bottom: 25px;
    z-index: 2;
}

.form-group textarea {
    width: 100%;
    padding: 12px 20px;

    border: 1px solid #e6d8c7;
    border-radius: 20px;

    font-size: 15px;
    background: #fff;

    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);

    transition: all 0.3s ease;
    resize: none;
}

.form-group textarea:focus {
    outline: none;
    transform: scale(1.02);
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}


form button {
    display: block;
    margin: 0 auto;

    letter-spacing: 1px;
    z-index: 2;

    background: #8b5e3c;
    color: white;

    border: none;
    padding: 16px 36px;
    border-radius: 25px;

    font-size: 17px;
    font-weight: bold;

    cursor: pointer;
    transition: all 0.3s;

    box-shadow: 0 10px 25px rgba(139, 94, 60, 0.4);
}

form button:hover {
    background: #b49eb8;
}

form button:active {
    transform: translateY(-1px) scale(1.02);
}

/* Animación que te faltaba */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(15px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}